.dom-vertical-mini-map {
  border: 0 solid;
  border-collapse: collapse;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.dom-vertical-mini-map-scroll {
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.dom-vertical-mini-map-point {
  border-collapse: collapse;
  position: absolute;
  width: 100%;
}

.dom-vertical-mini-map-point:hover {
  outline: solid 1px;
}
